.menu_ano-conclusao {
    padding: 12px 16px;
}

.dropdown-place {
    gap: 4rem;
}

.dropdown:hover .menu-dropdown-ano_content {
    display: block;
}
.ano-conclusao{
    padding: .5rem;
}

.menu-dropdown-ano_content {
    display: none;
    position: absolute;
    background-color: #3347B0;
    color: #ffffff;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
.menu-dropdown-ano_content :hover{
    background-color: #ffffff;
    color: #3347B0;
    transition: .3s;
}